.mainContainer{
    background-color: #9b59b6;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainHeading {
    font-weight: 500;
    color: #f3f3f3;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.subHeading{
    color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.loginFormWrapper {
    width: 40rem;
    padding: 32px 16px;
    background-color: #f3f3f3;
    margin: 32px;
}

